/* Media Queries */


@media (max-width: 1200px){
    .mapouter{
        right: 5%;
    }
}

@media (max-width: 1000px){
    .mapouter{
        margin-top: 40px;
        position: relative;
        display: block;
        right: 0;
        max-width: 500px;
    }
}


@media (max-width: 630px){
    #home{
        height: 630px;
        background-image:
        linear-gradient(
            to right bottom,
            #ede8ef, 
            #dfcfe5);
    }    
    .welcome-box{

        margin: 150px 20px 0;
    }
    .welcome-text{
        font-size: 2.5rem;
    }
    .business-name{
        font-size: 4rem;
        padding: 10px 0 40px;
    }
    .view-prod-btn{
        margin-top: 75px;
    }

}

@media (max-width: 550px){
    .contact-box{
        padding: 30px 5%;
    }
    .mapouter{
        margin-top: 20px;
    }
    .about-img{
        text-align: center;
        margin: 0 auto 40px;
        max-width: 80%;
    }

}

@media (max-width: 1080px){
    .about-img{
        text-align: center;
        margin: 0 auto 40px;
        max-width: 400px;
    }
    .about-text{
        display: block;
        width: 80%;
        margin: 20px 10%;
    }
    #features{
        padding: 50px 10%; 
    }
}

@media (max-width: 620px){
    .about-img{
        text-align: center;
        margin: 0 auto 40px;
        max-width: 100%;
    }
    .about-text{
        display: block;
        width: 100%;
        margin: 20px 0;
    }
    #features{
        padding: 50px 5%; 
    }

    .welcome-box{
        max-width: 100%;
    }
}