/* Media Queries */


@media (max-width: 1200px){
    .mapouter{
        right: 5%;
    }
}

@media (max-width: 1000px){
    .mapouter{
        margin-top: 40px;
        position: relative;
        display: block;
        right: 0;
        max-width: 500px;
    }
}


@media (max-width: 630px){
    #home{
        height: 630px;
        background-image:
        linear-gradient(
            to right bottom,
            #ede8ef, 
            #dfcfe5);
    }    
    .welcome-box{

        margin: 150px 20px 0;
    }
    .welcome-text{
        font-size: 2.5rem;
    }
    .business-name{
        font-size: 4rem;
        padding: 10px 0 40px;
    }
    .view-prod-btn{
        margin-top: 75px;
    }

}

@media (max-width: 500px){
    #home{
        height: 600px;
        background-image:
        linear-gradient(
            to right bottom,
            #ede8ef, 
            #dfcfe5);
    }    
    .welcome-box{
        margin: 150px 20px 0;
    }
    .welcome-text{
        font-size: 2rem;
    }
    .business-name{
        font-size: 3rem;
        padding: 10px 0 40px;
    }
    .view-prod-btn{
        margin-top: 75px;
    }
    .slogan{
        font-size: 20px;
    }

}

@media (max-width: 550px){
    .contact-box{
        padding: 30px 5%;
    }
    .mapouter{
        margin-top: 20px;
    }
    .about-img{
        text-align: center;
        margin: 0 auto 40px;
        max-width: 80%;
    }

}

@media (max-width: 1080px){
    .about-img{
        text-align: center;
        margin: 0 auto 40px;
        max-width: 400px;
    }
    .about-text{
        display: block;
        width: 80%;
        margin: 20px 10%;
    }
    #features{
        padding: 50px 10%; 
    }
}

@media (max-width: 620px){
    #about{
        padding: 50px 0;
        background-color: #b0e8e2;
    }
    .about-content{
        text-align: center;
        background-color: #b0e8e2;
        max-width: 1150px;
        padding: 0px;
        margin: 0px 3%;
    }
    .about-img{
        text-align: center;
        margin: 0 auto 40px;
        max-width: 94%;
    }
    .about-text{
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    #features{
        padding: 50px 5%; 
    }

    .welcome-box{
        max-width: 100%;
    }

    /* Products */

    #products{
        background-color: #fff;
        color: #44bdb1;   
        text-align: center;
        padding: 100px 6% 50px;
    }
    /* .product-name{
        font-size: 45px;
        margin-top: 40px;
    }
    .product-box{
        text-align: center;
        background-color: #b0e8e2;
        height: 360px;
        width: 360px;
        padding: 20px;
        margin: 30px auto 10px;
    }
    .rhinestones-img{
        vertical-align: middle;
        text-align: center;
        width: 320px;
        max-height: 400px;
    }
    .margin-bottom{
        margin-bottom: 50px;
    } */
}



@media (max-width: 1260px){
    .product-info-img{
        right: 20px;
    }
    .product-info-table{
        left: 10px;
    }
}

@media (max-width: 1220px){
    #a-product-page{
        padding: 50px 5%;
    }  
}

@media (max-width: 1070px){
    #a-product-page{
        padding: 50px 2%;
        background-color: #b0e8e2;
    }  
    .product-info-img{
        right: 0;
    }
    .product-info-table{
        left: 0;
    }
}

@media (max-width: 850px){
    #a-product-page{
        padding: 50px 10%;
    }  
    .product-info-block{
        padding: 20px 0px;
        margin: 80px auto 10px;
    }
    .product-info-img{
        display: block;
        position: initial;
    }
    .product-info-table{
        margin-top: 50px;
        display: block;
        position: initial;
    }
}

@media (max-width: 620px){
    #a-product-page{
        padding: 50px 7%;
    }
    .clear-btn{
        top: 150px;
        right: 0;
    }
}


@media (max-width: 550px){
    #a-product-page{
        padding: 50px 5%;
    }  
    .product-catag{
        padding-right: 1.5em;
    }
    .clear-btn{
        top: 830px;
    }
}
@media (max-width: 500px){
    #a-product-page{
        padding: 50px 3%;
    }  
    .product-catag{
        padding-right: 1em;
    }
}



@media (max-width: 450px){
    .nav-brand{
        font-size: 1.8rem;
        letter-spacing: 4px;
    }
    .navbar{
        padding: 5px 5%;
    }
}

