/* Theme */

/* Colours */

/* 
Hex code:  	#b0e8e2 lighte groen
Hex code:  	#7FE9DE medium groen
Hex code:  	#44bdb1 donker groen
Hex code:  	#540375 donker pers
Hex code:  	#b8b5ab not used yet
Hex code:  	#c59ae8 not used yet
Hex code:  	#dec3f3 not used yet
*/

/* Fonts */

/* 
font-family: 'Lora', serif;
font-family: 'Merienda', cursive;  
*/





/* Body */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7em;
    color: #fff;
}
h1, h2, h3{
    margin-bottom: 20px;
    font-family: 'Merienda', cursive;
}
.nice-heading{
    padding-bottom: 50px;
}
/* probeer ontslae raak van verti-top */
.verti-top{  
    vertical-align: top;
}


/* Navigation Bar */

.navbar{
    color: #fff;
    padding: 10px 6% 0;
    background-color: #44bdb1;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.nav-brand{
    margin-top: 15px;
    font-size: 2rem;
    letter-spacing: 4.5px;
    font-family: 'Merienda', cursive;
    color: #fff;
 }
.nav-link{
    color: rgb(255, 255, 255, 0.9);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.nav-link:hover{
    color: #fff;
}
.nav-item{
    padding: 0 18px;
}


/* Button */

.btnl:link,
.btnl:visited {
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
.btnl:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.btnl:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.btnl--white{
    background-color: #44bdb1;
    color: #fff; 
}
.btnl--white:hover{
    color: #fff; 
}


/* Home Page */

#home{
    height: 95vh;
    background-image:
    linear-gradient(
        to right bottom,
        rgb(255, 255, 255, 0.6), 
        rgb(255, 255, 255, 0.6)),
    url(../images/background.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    color: #44bdb1;
}
.land-section{
    vertical-align: top;
    text-align: center;
    margin-bottom: 50px;
}
.welcome-box{
    margin-top: 150px;
    display: inline-block;
    max-width: 800px;
    text-align: center;
    margin-bottom: 70px;
}
.slogan-text{
    font-size: 3.5rem;
    line-height: 5rem;
    padding: 20px 0 0px;
}
.business-name{
    padding-bottom: 50px;
    font-size: 4.5rem;
    color: #540375;
}
.welcome-para{
    color: #000;
}


/* Features */

#features{
    background-color: #fff;
    padding: 50px 15%; 
    line-height: 2rem;
    color: #777;
}
.features-icon{
    margin: 30px 0;
}
.features-text{
    line-height: 1.65rem;
}
/* The flip card container */
.flip-card {
    background-color: transparent;
    max-width: 500px;
    /* min-width: 300px; */
    height: 200px;
    margin: 0 auto 30px;
    padding: 0 20px;
    perspective: 1000px; /* 3D effect */
}
/* Position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
}
/* Horizontal flip when hovering */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side */
.flip-card-front {
    background-color: #44bdb1;
    color: #fff;
}
/* Style the back side */
.flip-card-back {
    padding: 20px 20px;
    background-color: #44bdb1;
    color: #fff;
    transform: rotateY(180deg);
}


/* ////////////////       About Start       //////////////// */

#about{
    background-color: #7FE9DE;
    color: #777;    
    text-align: center;
    padding: 130px 50px 130px;
}
.about-content{
    text-align: center;
    background-color: #b0e8e2;
    max-width: 1150px;
    padding: 50px;
    margin: 0px auto;
}
.about-img{
    display: inline-block;
    margin: 0 0 40px;
    padding: 0;
    width: 400px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.about-text{
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 400px;
    margin: 60px 20px 20px 40px;
    padding: 0;
}

/* ////////////////       About End       //////////////// */


/* ////////////////       Products Start       //////////////// */

#products{
    background-color: #fff;
    color: #44bdb1;   
    text-align: center;
    padding: 100px 12% 50px;
}
.product-name{
    font-size: 45px;
    margin-top: 40px;
}
.product-box{
    text-align: center;
    background-color: #b0e8e2;
    height: 360px;
    width: 360px;
    padding: 20px;
    margin: 30px auto 10px;
}
.rhinestones-img{
    vertical-align: middle;
    text-align: center;
    width: 320px;
    max-height: 400px;
}

/* ////////////////       Products End       //////////////// */


/* ////////////////       Collage Start       //////////////// */

#picsBox{
    background-color: #fff;
    color: #44bdb1;
    text-align: center;
    padding: 50px 1%;
    vertical-align: top;
}

.picsbox-img{
    vertical-align: top;
    height: 350px;
    margin: 0px 0px 5px;
    padding: 0;
}

/* ////////////////       Collage End       //////////////// */


/* ////////////////       Contact Start       //////////////// */

#contact{
    background-color: #44bdb1;
    color: #fff;
}
.contact-box{
    padding-top: 50px;
    vertical-align: top;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 50px;
}
.contact-table {
    display: inline-block;
    vertical-align: top;
}
.contact-head{
    display: block;
    padding-bottom: 50px;
    margin: 0;
}
.contact-catag {
    font-size: 20px;
    padding-bottom: 1em;
    padding-right: 2em;
}
.contact-value{
    padding-bottom: 1em; 
    text-decoration: none;
    color: #fff;  
}
.contact-value:hover{
    text-decoration: none;
    color: #fff;  
}
.contact-icon{
    color: #fff;
}
.contact-icon:hover{
    color: #fff;
}
.map{
    display: inline-block;
    position: absolute;
    right: 7%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    vertical-align: top;
    margin-bottom: 50px;
}

/* ////////////////       Contact End       //////////////// */


/* ////////////////       Footer Start       //////////////// */

.copyright {
    text-align: center;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 1.5%;
    background-color: #44bdb1;
    font-size: 15px;
    color: #fff;
}

/* ////////////////       Footer End       //////////////// */


/* ////////////////       Product Pages Start       //////////////// */

#a-product-page{
background-color: #fff;
color: #777;   
text-align: center;
padding: 50px 10%;
}
.clear-btn{
    font-size: larger;
    color: #44bdb1;
    text-decoration: underline;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    right: 9%;
}
.clear-btn:hover {
    color: #44bdb1;
}
.product-info-block{
    text-align: center;
    background-color: #b0e8e2;
    max-width: 100%;
    padding: 70px 20px;
    margin: 140px auto 10px;
}
.product-info-img{
    display: inline-block;
    vertical-align: top;
    max-height: 300px;
    margin: 20px;
}
.product-info-table{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 2rem;
    color: #777;
    width: 600px;
    margin-left: 30px;
}
.product-catag{
    padding-right: 2.5em;
    font-size: 20px;
    color: #4C4C4C;
    padding-bottom: 0.7em;
}
.product-value {
    padding-bottom: 0.7em; 
    padding-right: 10px;  
    text-decoration: none;
}
.ig-link{
    text-decoration: underline;
    color: #fff;
}
.ig-link:hover{
    text-decoration: underline;
    color: #fff;
}
.price{
    padding-left: 10px;  
}
.blue-highlight{
    color: #44bdb1;
    font-weight: bolder;
    font-size: larger;
}

/* ////////////////       Product Pages End       //////////////// */





































/* ////////////////       Reviews Start       //////////////// */

/* #reviews{
    text-align: center;
    background-color: #fff;
    color: #777;
    padding: 50px 10%;
}
.reviews-carousel{
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
.review-box {
    height: 300px;
    padding: 50px;
    margin: 0;
    background-color: #b0e8e2;
} */

/* ////////////////       Reviews End       //////////////// */





/* Products Carousel */

/* .product-row{
    text-align: center;
    padding: 0 auto;
}
.image-container{
    border: 5px solid #53c1d1;
    display: inline-block;
    width: 280px;
    height: 360px;
    margin-bottom: 50px;
}
.product-img{
    max-width: 250px;
    max-height: 330px;
    margin: 10px;
} */