/* Theme */

/* Colours */

/* Blue */

/* #0e94ab */
/* #53c1d1 */
/* #89d6e4  not used yet */
/* #b1e6f1  not used yet */
/* #d2f2f9 */

/* Grey */

/* #777 */
/* #4C4C4C */
/* #262626 */

/* #FFF8E8 */


/* Fonts */

/* font-family: 'GlacialIndifferenceRegular', sans-serif; */




/* Body */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7em;
    color: #fff;
}
.verti-top {
    vertical-align: top;
}
h1, h2, h3 {
    margin-bottom: 20px;
    font-family: 'Merienda', cursive;
}






/* Navigation Bar */

.navbar {
    padding: 10px 6% 0;
    background-color: #d4d4d4;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.nav-brand{
    margin-top: 15px;
    font-size: 3rem;
    letter-spacing: 4.5px;
    font-family: 'Merienda', cursive;
    color: #fff;
 }
.navbar-light .nav-link:active .nav-link {
    color: #fff;
}
.nav-item {
    padding: 0 18px;
}



/* Button */

.btnl:link,
.btnl:visited {
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
.btnl:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.btnl:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.btnl--white {
    background-color: #b0e8e2;
    color: #4C4C4C; 
}
.btnl--white:hover {
    color: #4C4C4C; 
}



/* Home Page */

.home-page{
    height: 95vh;
    background-color: #fff;
    /* background-image:
    linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8), 
        rgba(40, 180, 133, 0.8)),
    url(../background.jpg); */
    background-size: cover;
    background-position: top;
    position: relative;
    color: #b0e8e2;
}

.land-section{
    vertical-align: top;
    text-align: center;
    margin-bottom: 50px;
}
.welcome-box {
    margin-top: 200px;
    display: inline-block;
    max-width: 1000px;
    text-align: center;
    margin-bottom: 70px;
}
.slogan-text{
    font-size: 4.5rem;
    line-height: 5rem;
    padding: 20px 0 100px;
}
.welcome-img{
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 12%; 
    top: 200px;
    width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}












/* Features */

#features{
    background-color: #fff;
    padding: 50px 15%; 
    line-height: 2rem;
    color: #777;
}
.features-icon {
    margin: 30px 0;
}
.features-text{
    line-height: 1.65rem;
}






/* The flip card container */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    perspective: 1000px; /* 3D effect */
  }
  
  /* Position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Horizontal flip when hovering */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-card-front {
    background-color: #7FE9DE;
    color: #fff;
  }
  
  /* Style the back side */
  .flip-card-back {
    padding: 20px;
    background-color: #7FE9DE;
    color: #fff;
    transform: rotateY(180deg);
  }




















/* ////////////////       About Start       //////////////// */

#about{
    background-color: #7FE9DE;
    color: #777;    
    text-align: center;
    padding: 50px 15%;
}
.about-content{
    text-align: center;
    background-color: #b0e8e2;
    width: 1000px;
    padding: 50px;
}
.about-img{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    max-width: 350px;
    max-height: 500px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.about-text{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 50px;
    max-width: 400px;
}

/* ////////////////       About End       //////////////// */


















#edit-products{
    background-color: #c59ae8;
    color: #fff;
    text-align: center;
    padding: 50px 10%;
}

.img2test{
    width: 300px;
}
.img3test{
    max-width: 300px;
    max-height: 200px;
}







/* Products Section */

#products{
    background-color: #fff;
    color: #c59ae8;
    text-align: center;
    padding: 50px 10%;
}
.product-head{
    max-width: 650px;
    margin-bottom: 75px;
}
.product-row{
    text-align: center;
    padding: 0 auto;
}
.image-container{
    border: 5px solid #53c1d1;
    display: inline-block;
    width: 280px;
    height: 360px;
    margin-bottom: 50px;
}
.product-img{
    max-width: 250px;
    max-height: 330px;
    margin: 10px;
}
.product-description{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    text-align: left;
    line-height: 2rem;
    color: #777;
    max-width: 450px;
}
.price-highlight{
    color: #7FE9DE;
}
.product-table{
    margin-top: 50px;
}
.product-catag {
    font-size: 20px;
    padding-right: 2.5em;
    color: #4C4C4C;
    padding-bottom: 0.7em;
}
.product-value {
    padding-bottom: 0.7em;   
}






/* Reviews Section */

#reviews{
    text-align: center;
    background-color: #b0e8e2;
    color: #777;
    padding: 50px 15%;
}
.review-head{
    padding-bottom: 50px;
}
.review-box {
    text-align: center;
    padding: 0 25px;
}



/* Contact Page */

#contact{
    background-color: #fff;
    color: #777;
}
.contact-icon{
    color: #7FE9DE;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
.contact-icon:hover {
    color: #44bdb1;
}

.contact-box{
    padding-top: 50px;
    vertical-align: top;
    padding-left: 10%;
    padding-right: 5%;
}
.contact-head{
    display: block;
    padding-bottom: 50px;
    margin: 0;
}

.contact-table {
    display: inline-block;
    vertical-align: top;
}
.contact-catag {
    font-size: 20px;
    padding-bottom: 1em;
    padding-right: 2em;
}
.contact-value{
    padding-bottom: 1em;   
}
.map1{
    display: inline-block;
    position: relative;
    left: 170px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    vertical-align: top;
    margin-bottom: 50px;
}



/* Footer Section */

.copyright {
    text-align: center;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 0.5;
}
.footer-text{
    font-size: 15px;
    padding: 1%;
    color: #44bdb1;
}
.social-icons {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    padding: 30px 15px 15px;
    color: #fff;
}
.social-icons:hover {
    color: #fff;
}
